@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Inter', sans-serif; */
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.hero-container{
  position: relative;
  text-align: center;
}
.hero-background{
  background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),url("../public/hero-background.png");
  height: 300px;
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.project-scope-card:nth-of-type(4n + 1) {
  background-color: #5C71DA; 
}
.project-scope-card:nth-of-type(4n + 2) {
  background-color:#233799;
}
.project-scope-card:nth-of-type(4n + 3) {
  background-color: #344ED1; 
}
.custom-underline {
  position: relative;
}
.custom-underline::after {
  content: '';
  position: absolute;
  bottom: -0.125rem;
  left: -0.5rem;
  right: -0.5rem;
  height: 0.75rem;

  z-index: 1;

  background-image: url('../public/underline.svg');
  background-repeat: no-repeat;

  background-size: cover;
}